<html>
    <head>
        <title>Auto-Skribbl | Completely anonymous custom words bot for Skribbl.io </title>
    </head>
    <body>
        <section id="heading">
            <h1>Auto-Skribbl</h1>
            <p><strong>Auto-Skribbl</strong> is a platform that allows people to play custom words game on <a href="https://skribbl.io" target="_blank">Skribbl.io</a> with complete anonymity from other's words.</p>
        </section>
        <section id="main">
            <h3>It will take time to create room. Please wait for 30-60 seconds! and check back at the link below to get a link to your game.</h3>
            <h3><a href="/s/{{room_id}}">Click Here</a> (in a minute)</h3>
        </section>
    </body>
</html>