<html>
    <head>
        <title>Auto-Skribbl | Completely anonymous custom words bot for Skribbl.io </title>
    </head>
    <body>
        <section id="heading">
            <h1>Auto-Skribbl</h1>
            <p><strong>Auto-Skribbl</strong> is a platform that allows people to play custom words game on <a href="https://skribbl.io" target="_blank">Skribbl.io</a> with complete anonymity from other's words.</p>
        </section>
        <section id="main">
            <h2>Room ID: {{room_id}}</h2>
            <p><a href="/r/a/{{room_id}}">Copy this link</a> and send to friends to add words</p>
            <form action="/r/a/{{room_id}}" method="GET">
                <button type="submit">Add Words</button>
            </form>
            <form action="/r/start/{{room_id}}" method="GET">
                <button type="submit">Start Game</button>
            </form>
        </section>
    </body>
</html>